@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.full-w {
  width: 100%;
}

.red-line {
  width: 100%;
  height: 13px;
  background-color: #c20018;
}

.blue-bg {
  width: 100%;
  background-color: #003464;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blue-bg p {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #fff;
}

.container {
  max-width: 768px;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
}

.text-center {
  text-align: center;
}

.sec-para {
  font-size: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.button-div {
  width: 90%;
  margin: auto;
}

.main-button {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #c20018;
  color: #fff;
  border: none;
  border-radius: 22px;
  font-size: 20px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

.padding-right-left {
  padding-right: 15px;
  padding-left: 15px;
}

.text-red {
  color: #c20018;
}

.bold {
  font-weight: 600;
}

.anchore {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.anchore svg {
  width: 30px;
  height: 25px;
  margin-right: 10px;
  margin-bottom: 4px;
}

.main-button:hover{
  background-color: #770917;
}